body{
    background-color: aquamarine;
}
H1{
    font-family: Amatic SC;
    text-align: center;
    text-decoration: underline;
}
h2{
    font-family: Amatic SC;
    text-align: center;}
.pic1{
    float: left;
    padding: 25px;
    
}
    .pic1text{ 
    padding: 100px;
    margin: 30px;
    border-style: solid;
    
}    
ul{
    line-height: 50px;
}
.pic2{
    float: left;
    padding: 50px;
}
.pic2text{ 
    padding: 100px;
    margin: 30px;
    border-style: solid;
    
}    
